:root {
  font-size: 16px;
  scroll-behavior: smooth;
}

* {
  /* パディングとボーダーを含んだwidth／heightに */
  box-sizing: border-box;
}

body {
  background-color: white; /* 背景色を付けたい場合のみ */
  margin: 0;
  padding: 0;
  /* ページ全体の幅は div#container に設定する */
}

div#container {
  max-width: 100vw; /* 全幅にしたければ「100vw」と指定 */
  margin: 0 auto; /* 全体を中央揃え */
}

/* ヘッダー */
header {
  height: 400px; /* 高さ */
  /* 幅（width）は既定値１００％なので基本はそのままでOK */

  /* 背景画像の設定 */
  background-image: url('fig/ヘッダー.jpg');
  background-repeat: no-repeat;
  background-size: cover; /* contain（切り替えて確認する） */
  background-position: center; /* coverの場合、どこを切り取るか */

  /* nav要素をヘッダーの中（下端）に置きたい場合のみ */
  position: relative;
}

/* ヘッダーのタイトル */
header h1 {
  margin-top: 0; /* これがないと上に余白ができる */

  /* 装飾 */
  font-size: 3em;
  text-align: center;
padding-top: 30px;
  color: orange;
}

.kaisei {
 font-family: 'Kosugi Maru', sans-serif;
  font-weight: 650;
}

/* ヘッダー内の文章（別にdivでもいい） */
header p {
  /* 装飾 */
  width: 80%;
  margin: 0 auto;
   text-align: center;
}

/* ページ内リンク（共通項） */
nav {
  display: flex; /* 横並びにする */
  flex-wrap: wrap; /* 幅が狭いときに改行する */
  justify-content: space-around; /* 他の並べ方は検索する */

  /* justify-contentでleft／rightにした場合は間隔をgapで指定 */
  /* gap: 1em; */

  /* nav領域の上下の余白はpaddingで */
  padding: 0.5em 0;
}

/* 個々のリンクのスタイルはa要素に対して行う */
nav a {
  width: 20%; /* gapを設定していると */
  display: block; /* こうしておくとクリックしやすい */

  text-decoration: none; /* 下線が必要なければ */
  text-align: center; /* デザインによっては無くてもよい */
}

/* ページ内リンク（ヘッダーの上に置く場合） */
nav#nav_top {
  /* ヘッダー内の下に配置しないときな特に何もしなくてよい */

  /* 装飾 */
  background-color: rgba(255, 182, 193, 0.8);
}

nav#nav_top a {
  /* 装飾 */
  color: white;
}

/* 画像まわりの共通設定 */
figure {
  margin: 0;
}

figure img {
  width: 100%;
}

#sec2 img {
  width: 200px;
  height: auto;
}

/* セクション */
section {
  /* 装飾 */
  margin-top: 1.5em;
  padding: 1em;
}



/* セクションの見出し */
section h1 {
  /* 装飾 */
  background: lightpink;
  box-shadow: 0px 0px 0px 5px lightpink;
  border: dashed 2px white;
  padding: 0.2em 0.5em;
  border-radius: 1.25em;
  color: white;
}

/* セクションの小見出し */
section h2 {
  /* 装飾 */
  font-size: 1.2em;
  text-align: left;
  position: relative;
  padding-left: 1.2em;
  line-height: 1.4;
}

h2::before {
  font-family: 'Font Awesome 5 Free';
  content: '\f00c';
  font-weight: 900;
  position: absolute;
  font-size: 1em;
  left: 0;
  top: 0;
  color: #ffccff;
  font-weight: 900;
}

h3 {
  background: linear-gradient(transparent 40%, #ffff89 50%);
  display: inline;
}

/* ２つ目以降の小見出しのみへの装飾とか */
section h2:not(:first-child) {
  /* 装飾 */
  margin-top: 2em;
}

/*** タイプ1： 要素を上から順に並べていく ***/

section.type1 .sec-container {
  /* レイアウトに関しては何もしなくてよい */

  /* 装飾（例えば中央揃えする場合とか） */
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

section.type1 figure {
  width: 70%; /* 画像サイズを調整したい場合 */
  margin: 0 auto;
}

/*** タイプ2： 要素を横並びにする ***/

section.type2 .sec-container {
  /* 装飾 */
width: 90%;
  margin: 3em auto;
  
}

section.type2 .flex-container {
  display: flex;
  justify-content: left;
  flex-wrap: nowrap; /* 幅が足りないときに折り返したいとき */
  gap: 0px; /* 要素間の幅 */
  background-color: #fff0f5;
  border-radius: 1em;
  padding: 2em;
}

section.type2 figure {
  flex: 1 1 800px; /* 画像サイズ（300pxの部分を適当に調整） */
}

section.type2 p {
  width: 100%; /* 必要 */
}

/*** タイプ3： 画像とテキストの上下セットを横並びしたい場合 ***/

section.type3 .flex-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; /* 幅が足りないときに折り返したいとき */
  gap: 20px; /* 要素間の幅 */
}

section.type3 .content {
  max-width: 300px; /* 横並びにしたい要素の幅を指定 */
}

/*** タイプ4： 画像とテキストの横並びセットを更に横並びしたい場合 ***/

section.type4 .sec-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; /* 幅が足りないときに折り返したいとき */
  gap: 20px; /* 要素間の幅 */
}

section.type4 .flex-container {
  display: flex;
  justify-content: space-between;
  gap: 10px; /* 要素間の幅 */
  width: 40%; /* 横並び要素の幅 */
}

section.type4 figure {
  flex: 1 1 100px; /* 画像サイズ（100pxの部分を適当に調整） */
}

section.type4 p {
  width: 100%; /* 必要 */
}

/*** type5： ネタ切れ ***/
section.type5 .sec-container {
  padding: 0 50px;
}

/* フッター */
footer {
  margin-top: 1.5em;
  padding: 1em 1em 1em; /* heightで調整してもよい*/
  background-color: lightpink;
  text-align: center;
  color: gray;
}
